/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 5px;

}
.gallery figure {
	margin-bottom: 20px;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Filtres */
#filters a {
	color: inherit;
	text-decoration: none;
	padding: 10px;
}

#filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	margin : 10px 10px 30px 10px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding: 10px;
	border: 1px #1D6154 solid;
	flex-basis: min-content;
	white-space: nowrap;
}

.filter.filter-active, .filter:hover, .filter:focus-within {
	color: white;
	background-color: #1D6154;
}

/* Page de connexion */
.nav-active {
	font-weight: 600;
}
#login {
	margin: 100px 0;
}

.log-title {
	margin-bottom: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-element {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	margin: 20px 0;
}

.text-zone {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	width: 379px;
	height: 50px;
}

#button-login {
	height: 36px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

.label {
	margin: 2em 0 1em 0;
}

.password-forget {
	color: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* Erreurs */
.error {
	color: red;
	margin: 20px;
}

.empty {
	margin: auto;
}

/* Bannière */
.banner {
	background-color: black;
	height: 59px;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.banner-element {
	margin: 10px;
}

.banner-button {
	background-color: white;
	color: black;
	border-radius: 60px;
	padding: 10px 20px 10px 20px;
	font-weight: 500;
	font-size: 14px;
}

.header-administrator {
	margin-top: 109px;
}

/* Boutons 'modifier' */
.fa-pen-to-square {
	margin-right: 5px;
}

#image-introduction {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

#button-introduction {
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

#works {
	display: flex;
	align-items: baseline;
	justify-content: center;
	position: relative;
	left: 48px;
	margin-bottom: 10px;
}

#button-portfolio {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

#button-article {
	position: relative;
	bottom: 20px;
}

/* Boîte modale */
#title-modal {
	font-size: 26px;
	text-align: center;
}
/* Partie principale de la modale */
#modal-content {
	margin: 40px 0 20px 0;
}
/* Fiches projet de la modale */
.modal1 {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.modal1 figure {
	height: 120px;
	margin-bottom: 10px;
	position: relative;
}

.modal1 img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Contenu de la seconde modale */
.modal2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* Icônes retour en arrière et croix */
#modal-icon {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 90%;
}
/* Bouton 'ajouter une photo' */
.button-add {
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 30%;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 40px 10px 40px;
}
/* Bouton 'supprimer la galerie' */
.button-delete {
	color: #D65353;
}
/* Boutons de la modale */
.button-modal {
	font-family: 'Syne';
	margin: 15px;
}
/* Bouton 'valider' de la modale*/
.button-add-work[disabled] {
	background-color:  #A7A7A7;
	font-weight: 700;
	color: white;
	width: 50%;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 40px 10px 40px;
	border: none;
	cursor: inherit;
}

.button-add-work {
	background-color: #1D6154;
	font-weight: 700;
	color: white;
	width: 50%;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 40px 10px 40px;
	cursor: pointer;
	border: none;
}

/* Conteneur boutons de la modale */
.button-container {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-top: 1px solid #B3B3B3;
}
/* Modale et animation à l'ouverture */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn 300ms both;
	z-index: 150;
}

.modal-wrapper {
	width: 600px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 50px 70px 0 70px;
	background-color: white;
	box-sizing: border-box;
	overflow: auto;
	border-radius: 10px;
	position: relative;
}
/* Focus dans la modale */
.modal a:focus, .modal input[type='text']:focus, .modal input[type='button']:focus, .modal input[type='file']:focus + label, .modal button:focus, .modal textarea:focus, .modal select:focus {
	border: inherit;
	outline: none;
	box-shadow: 0 0 10px black;
}
/* Animation lors de la fermeture de la modale */
.modal[aria-hidden="true"] {
	animation: fadeOut 300ms both;
}
/* Icônes 'poubelle' et '4 flèches' des fiches projet de la modale */
.icon-modal {
	color: white;
	background-color: black;
	padding: 10px 5px 10px 5px;
	border-radius: 2px;
}
/* Conteneur des icônes 'poubelle' et '4 flèches' des fiches projet de la modale */
.icon-modal-container {
	position: absolute;
	top: 0;
	right: 0;
}
/* Formulaire de la modale */
.form-modal {
	width: 100%;
}

.input-modal {
	width: 100%;
}

button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	padding: inherit;
	margin: 5px 5px 5px 0;
}

.fa-image {
	color: #B9C5CC;
	margin-top: 20px;
}
/* Input file et aperçu de l'image de l'input */
#preview-picture {
	height: 100%;
	margin: auto;
}

.preview-container {
	background-color: #E8F1F7;
	max-height: 250px;
	display: flex;
	justify-content: center;
	z-index: 7;
}

.add-picture-container {
	background-color: #E8F1F7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px 0 15px 0;
}

.txt-add-picture {
	font-size: 10px;
	color: #444444;
}

#button-add-picture {
	width: 25%;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 40px 10px 40px;
	background-color: #CBD6DC;;
	color: #306685;
	margin-top: 20px;
	margin-bottom: 7px;
	font-weight: 500;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

#button-add-picture-input{
	/* display: none; */
	z-index: 0;
	position: relative;
	top: 48px;
	height: 10px;
	width: 20px;
}

#category-modal, #title-modal-add {
	font-family: 'Work Sans' ;
}
/* Nouvelle flèche pour le select */
#category-modal {
	color: white;
	margin-right: -50px;
}

#category-modal option {
	color: black;
}

#select {
	display: flex;
	align-items: center;
}

.fa-angle-down {
	color: #6C6C6C;
	z-index: 2;
}

/* Animations */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}